{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                    {% for msg in messages %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <div class="row box">
            <div class="center-block login">
                <h2 class="text-center">TeachingWeb System</h2>
                {{ wtf.quick_form(form, form_type = "horizontal",horizontal_columns=('sm', 4, 5)) }}
            </div>
        </div>      
    </div>
{% endblock %}